<header
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0 h-100">

        <div class="navbar-collapse collapse p-2" id="navbarResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" role="list">
                <li class="nav-item">

                    <a sec:authorize="isAnonymous()"
                       class="nav-link"
                       th:href="@{registration}">Register
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link active" role="button" data-bs-toggle="list"
                       onclick="getContent($('#mainContainer'),'/pics')">Pictures</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" role="button" data-bs-toggle="list"
                       onclick="getContent($('#mainContainer'),'/pics/pending')">Pending Requests</a>
                </li>

            </ul>
            <button sec:authorize="isAnonymous()"
                    class="btn btn-outline-light m-1"
                    onclick="confirmDialog('LOGIN',null,null)">Login
            </button>

            <div class="alert alert-success alert-dismissible fade show m-1" role="alert"
                 th:if="${logout}"><!---->
                <strong>You have been signed out.</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="d-flex m-1 bg-secondary rounded" sec:authorize="isAuthenticated()"
                 style="place-content:space-between">
                <form id="logoutForm" method="POST" th:action="@{/logout}"></form>
                <a class="btn btn-dark m-1" onclick="document.forms['logoutForm'].submit()">Logout</a>
                <p class="d-inline-block m-1 text-light align-self-center"><span sec:authentication="name"></span>
                </p>
            </div>
        </div>

    </nav>
</header>