<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="shortcut icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}">
    <!-- CSS only -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.2/css/all.min.css}">
    <style>

        .btn-primary {
            color: wheat;
            background-color: #2d3b4b;
            border-color: #0a53be;
        }
        .btn-outline-light {
            color: wheat;
            border-color: wheat;
        }
        .bg-dark{
            background-color: #black!important
        }
        .bg-light{
            background-color: #e3e3e3 !important;
        }
        .centered {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .list-group-item{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
    <script>
        function getContent(jQueryElement, url) {
            $(jQueryElement).load(url);
            let navbar = $("#navbarResponsive");
            if (navbar.hasClass('show')) {
                $('#btnNavbar').click();
                navbar.area_expanded = false;
                navbar.addClass('collapsing');
                navbar.removeClass('show');
            }
        }

        function confirmDialog(modalType, okActionURL, laterFunction) {
            $('#modalOverlay').load('/modal/' + modalType, function () {
                let myModel = $('#myModal');
                myModel.on('hidden.bs.modal', function () {
                    this.remove();
                    // to remove the modal
                })
                myModel.modal('show');
                $('#btnOkDialog').click(function () {
                    $.ajax(
                        {
                            type: "GET",
                            data: null,//data to be sent
                            cache: false,
                            url: okActionURL,
                            success: function (data) {
                                //after
                                myModel.modal('hide');
                                laterFunction();
                            },
                            error: function () {
                                //error
                            }
                        });
                })
            });

        }

        function getBase64(input, preview, fileInput) {
            //gets size in bytes
            let file=fileInput.files[0]
            if (file.size / 1024 > 2048) {
                alert("Max file upload is 2 MB.");
                fileInput.value='';
                return;
            }
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                input.attr('value', reader.result);
                preview.attr('src', reader.result);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }

        function registerUser(formJQueryElement) {
            $.ajax(
                {
                    //don't add contentType: false,processData: false,
                    type: "POST",
                    data: formJQueryElement.serialize(),
                    cache: false,
                    url: "/registration/new",
                    success: function (data) {
                        console.log(data);
                        //$("html").html(data);
                        $("body").html(data);
                    },
                    error: function (data) {
                        alert("Error - Data not saved");
                    }
                });
        }

        function approvePic(picId) {
            $.ajax(
                {
                    //don't add contentType: false,processData: false,
                    type: "GET",
                    data: null,
                    cache: false,
                    url: "/pics/pendingPics/approve/"+picId,
                    success: function (data) {
                        console.log(data);
                        $('#mainContainer').html(data);
                    },
                    error: function (data) {
                        alert("Error - Data not saved");
                    }
                });
        }

        function declinePic(picId) {
            $.ajax(
                {
                    //don't add contentType: false,processData: false,
                    type: "GET",
                    data: null,
                    cache: false,
                    url: "/pics/pendingPics/decline/"+picId,
                    success: function (data) {
                        console.log(data);
                        $('#mainContainer').html(data);
                    },
                    error: function (data) {
                        alert("Error - Data not saved");
                    }
                });
        }
    </script>
</head>