<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/fragments/head"></head>


<body style="height: 100vh" th:fragment="RegistrationFragment">


<main class="container col-sm-10 col-md-4 col-lg-3" style="height: 50vh">
    <div class="centered">
    <form id="registrationForm" th:object="${user}" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   th:field="*{username}" autocomplete="off">
            <div class="invalid-feedback d-inline-block" th:if="${#fields.hasErrors('username')}">
                <ul class="m-0">
                    <li th:each="err:${#fields.errors('username')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" th:field="*{passwordConfirm}" autocomplete="off">
            <div class="invalid-feedback d-inline-block" th:if="${#fields.hasErrors('passwordConfirm')}">
                <ul class="m-0">
                    <li th:each="err:${#fields.errors('passwordConfirm')}" th:text="${err}"></li>
                </ul>
            </div>
        </div>
    </form>
    <div class="text-center">
        <button onclick="registerUser($('#registrationForm'))" class="btn btn-primary w-25 m-2"
                th:height="50" type="submit">Submit
        </button>
    </div>
    </div>
</main>


</body>
</html>